<div class="p-3">
  <article class="pb-10">
    <p class="h-10 text-2xl border-b-2 mb-3">Current Lectures</p>
    <div class="relative py-1 flex flex-col gap-3">
      @for (lecture of upcomingLectures(); track lecture.id) {
        <app-lecture-card [lecture]="lecture" [upcoming]="true"></app-lecture-card>
      }
      <div class="absolute top-0 left-3.5 -z-10">No current lectures...</div>
    </div>
  </article>

  <article class="pb-10">
    <p class="h-10 text-2xl border-b-2 mb-0">My Stats</p>
    <div class="flex flex-col p-3.5">
      <div class="flex flex-row items-center">
        <div class="w-16">
          <fa-icon size="2xl" [icon]="faGamepad"></fa-icon>
        </div>
        <div class="text-lg p-2">
          4 games played
        </div>
      </div>
      <div class="flex flex-row items-center">
        <div class="w-16">
          <fa-icon size="2xl" [icon]="faBolt">
          </fa-icon>
        </div>
        <div class="text-lg p-2">
          2024 points
        </div>
      </div>
    </div>
  </article>

  <article class="pb-10">
    <p class="h-10 text-2xl border-b-2 mb-3">My Lectures</p>
    <div class="py-1 flex flex-col gap-3">
      @for (lecture of notUpcomingLectures(); track lecture.id) {
        <app-lecture-card [lecture]="lecture" [upcoming]="false"></app-lecture-card>
      }
    </div>
  </article>
</div>



<!-- <article class="content-center border-4 ">
  <p class="h-10 text-4xl m-2"> My Lectures</p>
  <div class=" h-50 overflow-scroll overscroll-auto py-4 flex-wrap grid grid-cols-2 justify-items-stretch ">
    @for (lecture of lectures(); track lecture.id) {
    <div class="py-1.5 px-0.5">
      <a [routerLink]="['lecture', lecture.id]">
        <app-lecture-card [lecture]="lecture"></app-lecture-card>
      </a>
    </div>
    }
  </div>
</article> -->